@font-face {
    
   font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/HelveticaNeue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-BoldCond';
    src: url('../fonts/HelveticaNeue-BoldCond.eot');
	src: url('../fonts/HelveticaNeue-BoldCond.otf')  format('opentype'),
         url('../fonts/HelveticaNeue-BoldCond.woff') format('woff'),
         url('../fonts/HelveticaNeue-BoldCond.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-BoldCond.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url('../fonts/HelveticaNeueLTStd-Bd.otf')  format('opentype');
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-Bd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd55-Roman';
  src: url('../fonts/HelveticaNeueLTStd55-Roman.otf')  format('opentype');
  src: url('../fonts/HelveticaNeueLTStd55-Roman.eot') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd55-Roman.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd55-Roman.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd55-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'tt0365m';
  src: url('../fonts/tt0365m.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'plantagenet_cherokee';
   src: url('../fonts/plantagenet_cherokee.eot')  format('embedded-opentype');
    src: url('../fonts/plantagenet_cherokee.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
          url('../fonts/Roboto-Medium-webfont.ttf') format('truetype');
    font-weight: normal;

}